.box
  width: 100%

.box + .box
  padding-top: var(--gap)

.button
  padding: calc(var(--gap) / 2) var(--gap)
  line-height: 2em
  background-color: #1f2029
  border-radius: calc(var(--gap) / 4)
  box-shadow: calc(var(--gap) / 4) calc(var(--gap) / 4) calc(var(--gap) / 2) rgba(0, 0, 0, 10%)
  font-weight: bold 
  color: var(--body-background-color)
  cursor: pointer

.button + .button
  margin-left: var(--gap)

.dimmed
  position: fixed
  top: var(--header-height)
  left: calc(50vw - var(--main-width) / 2)
  background-color: #1f2029
  opacity: 0.75
  width: var(--main-width)
  height: calc(100vh - var(--header-height) - var(--footer-height))

.popup_container
  position: absolute
  display: flex
  justify-content: center
  align-items: center
  z-index: 9999
  top: var(--header-height)
  left: calc(50vw - var(--main-width) / 2)
  width: var(--main-width)
  height: calc(100vh - var(--header-height) - var(--footer-height))

.popup_content
  padding: var(--gap)
  width: calc(var(--main-width) - var(--gap) * 16)
  border-radius: 0.5em
  background-color: var(--body-background-color)

ul + ul
  padding-top: var(--gap)

li + li
  padding-top: calc(var(--gap) / 2)

input
  padding: 1em
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  width: 100%
  height: 2em
  line-height: 2em
  border: 2px solid #1f2029
  border-radius: 0.5em