<div class="add-word">
  <div class="content">
    <form [formGroup]="wordForm" (ngSubmit)="setWord()">
      <div class="row">
        <ul>
          <li><h3>Korean</h3></li>
          <li><input type="text" id="korean" formControlName="korean" placeholder="This is for an Korean word" tabindex="1"/></li>
        </ul>
      </div>
      <div class="row">
        <button type="submit" id="buttonSave" class="button">Save</button>
        <button id="buttonClose" class="button" (click)="closeModal()">Close</button>
      </div>
    </form>
  </div>
  <div class="dimmed"></div>
</div>