<div class="popup_container" *ngIf="toggleBox">
  <div class="popup_content">
    <div class="box center">
      <form>
        <ul>
          <li><h3>korean</h3></li>
          <li><input type="text" name="korean" [(ngModel)]="korean" placeholder="This is for an korean word" /></li>
        </ul>
        <ul>
          <li><h3>english</h3></li>
          <li><input type="text" name="english" [(ngModel)]="english" placeholder="This is for an english word" /></li>
        </ul>
        <ul>
          <li><h3>description</h3></li>
          <li><input type="text" name="description" [(ngModel)]="description" placeholder="This is for an english description" /></li>
        </ul>
      </form>
    </div>
    <div class="box center">
      <a class="button" (click)="onSubmit()">Save</a>
      <a class="button" (click)="onClick()">Close</a>
    </div>
  </div>
</div>
<div class="dimmed" *ngIf="toggleBox"></div>