a
  color: #f9f9f9
    
.header
  display: flex
  justify-content: space-between
  height: 48px
  line-height: 48px
  background-color: #1f2029

.logo
  margin: 0 24px
  font-weight: bold

.menu
  display: flex
  margin: 0 24px
  list-style: none
  
  li + li
    margin-left: 16px