.home
  display: -webkit-flex
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 100%
  max-width: 480px
  height: 100%

  li + li
    margin-top: 8px

.article
  width: 100%

.article + .article
  margin-top: 36px