h1, h2, h3
  margin-bottom: 8px
  
.home
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 80%
  max-width: 480px
  height: 100%

.article
  width: 100%

  li + li
    margin-top: 4px

.article + .article
  margin-top: 36px