.word
    display: grid
    grid-template-columns: 1fr 3fr
    margin: var(--gap) 0
    padding: var(--gap)
    width: 40em
    background-color: var(--content-background-color)
    border-radius: calc(var(--gap) / 4)
    box-shadow: calc(var(--gap) / 4) calc(var(--gap) / 4) calc(var(--gap) / 2) rgba(0, 0, 0, 10%)

.word div
    display: -webkit-flex
    display: flex
    justify-content: center
    align-items: center

.word div:first-child
    font-size: 1.5em
    font-weight: bold

.word ul li + li
    padding-top: 0.25em