<div class="words">
  <div
    *ngIf="initWords">
    <app-word
      *ngFor="let word of words"
      [word]="word"
    ></app-word>
    <div
      class="plus"
      (click)="onToggleKorean(true)"
    >+</div>
    <app-add-korean
      *ngIf="addKoreanEnabled"
      (onAddKorean)="postTranslatedKorean($event)"
      (onClose)="onToggleKorean(false)"
    ></app-add-korean>
    <app-add-word
      *ngIf="addWordEnabled"
      (onAddWord)="postWord($event)"
      (onClose)="onToggleWord(false)"
    ></app-add-word>
  </div>
  <div
    class="loading"
    *ngIf="!initWords"
  >
    <p>Now Loading...</p>
  </div>
</div>