.plus
  margin: var(--gap) 0
  padding: var(--gap)
  width: 40em
  background-color: #1f2029
  border-radius: calc(var(--gap) / 4)
  box-shadow: calc(var(--gap) / 4) calc(var(--gap) / 4) calc(var(--gap) / 2) rgba(0, 0, 0, 10%)
  font-weight: bold 
  color: var(--body-background-color)
  text-align: center
  cursor: pointer