.wrapper
    display: flex
    max-width: calc(var(--nav-width) + var(--gap) * 2)
    margin: 0 auto

.main
    min-height: calc(100vh - var(--header-height) - var(--footer-height))
    max-width: calc(var(--main-width) + var(--gap) * 2)
    margin-left: auto
    margin-right: auto