:root
  --font-stack: Helvetica, sans-serif
  --primary-color: #333333
  --main-width: 760px
  --header-height: 60px
  --footer-height: 60px
  --nav-width: 1024px
  --gap: 24px

*
  margin: 0
  padding: 0
  
body
  color: var(--primary-color)
  font-family: var(--font-stack)
  font-size: 18px

a
  color: var(--primary-color)
  text-decoration: none

li
  display: list-item
  text-align: -webkit-match-parent