:root
  --font-stack: Helvetica, sans-serif
  --font-size: 1em
  --primary-color: #333333

*
  margin: 0
  padding: 0
  
body
  background: #f9f9f9
  color: var(--primary-color)
  font-family: var(--font-stack)
  font-size: var(--font-size)

a
  color: var(--primary-color)
  text-decoration: none

li
  list-style-type: none

.left
  text-align: left

.right
  text-align: right

.center
  text-align: center